* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

.container canvas {
    border: 4px solid #222;
    display: flex;
    margin: 0 auto 0;
}

.container .interface {
    margin: 12px auto 12px;
    align-items: center;
    justify-content: center;
}

.interface input {
    width: 80%;
    margin: 10px 42px 10px;
    margin-bottom: 16px;
}

.main-label {
    width: 30%;
    height: 40px;
    padding: 8px;
    font-size: 18pt;
    background: #222;
    color: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.control .main-label {
    background: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-size: 30pt;
}

.interface button {
    width: 80%;
    height: 60px;
    position: relative;
    justify-items: center;
    border: 2px solid skyblue;
    border-radius: 14px;
    background: magenta;
    color: white;
    font-size: 30pt;
    font-weight: bold;
    margin-top: 44px;
    left: 50%;
    transform: translateX(-50%);
}

.control div {
    position: absolute;
    width: 0;
    height: 0;
    padding: 6px;
}

.control div:active {
    background: skyblue;
}

.main-alert {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
}

.main-alert .alert-content {
    width: 80%;
    background: #222;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px;
    font-size: 24pt;
    transform: translate(-50%, -50%);
    align-items: center;
}

.alert-content span {
    color: white;
}

.alert-content span:nth-child(1) {
    position: relative;
    left: 95%;
    margin-top: -100px;
}

.alert-content span:nth-child(5) {
    position: relative;
    margin-left: 30%;
    margin-top: 80px;
}

#main_btn_arrow_up, #main_btn_arrow_down {
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
}

#main_btn_arrow_left, #main_btn_arrow_right {
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
}

#main_btn_arrow_up {
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 60px solid white;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#main_btn_arrow_left {
    margin-top: 72px;
    left: calc(50% - 78px);
    transform: translateX(-50%);
    border-right: 60px solid white;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

#main_btn_arrow_right {
    margin-top: 72px;
    left: calc(50% + 78px);
    transform: translateX(-50%);
    border-left: 60px solid white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#main_btn_arrow_down {
    margin-top: 156px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 60px solid white;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

#main_btn_surrender {
    width: 80px;
    height: 40px;
    right: 0;
    bottom: 0;
    margin-bottom: 40px;
    margin-right: 40px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: darkmagenta;
    border: 2px solid white;
    border-radius: 20px;
  }
